* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  min-height: 100vh;
}

header {
  position: sticky;
  top: 0;
  min-width: 100%;
}

header nav {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 12px 12px;
  height: 8vh;
  background-color: #012936;
  border-bottom: 2px solid #00c6c3;
}

header nav a {

  text-decoration: none;
  color: #fff;
}
header nav div{
  margin: 8px;
}

header nav span{
  color: #fff;
font-size: 32px;
font-family: 'Quando', serif;
}
.underline-effect {
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
  font-weight: 400;
  font-size: 23px;
  color: #fff;
  margin: 8px 8px;
  transition: 0.2s;
  padding-bottom: 5px;
  position: relative;
}
.underline-effect::before {
  content: "";
  position: absolute;
  background-color: rgb(10, 241, 230);
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  transition: width 0.25s ease-out;
}
.underline-effect:hover::before {
  left: 0;
  right: auto;
  width: 100%;
}

.container {
  display: flex;
  min-height: 50vh;
  min-width: 70%;
  padding: 28px 12px;
  margin: 12px;
}

.spacing {
  justify-content: space-evenly;
  align-items: center;
}

.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.home {
  display: flex;
  flex-direction: column;
  padding: 12px 12px;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 34px;
  color: #1b263b;
  margin: 0;
}

h1 span {
  display: inline-block;
  /* color: #99dcf0; */
  color: #3b9fbd;;
  font-size: 59px;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #1b263b;
  margin: 1px 6px;
}

.action {
  margin-top: 28px;
}

.action a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 30px;
  letter-spacing: 4px;
  color: #1b263b;
  padding: 12px;
  border: 2px solid #4c8a9c;
  border-radius: 12px;
  transition: 0.3s;
  min-width: 23vw;
  font-weight: 600;
}

.action a:hover {
  font-size: 40px;
}

.background {
  background-image: url(../images/blob.svg);
  background-repeat: no-repeat;
  background-size: 97% 97%;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 34px;
  display: block;
  color: #1b263b;
  margin: 24px;
}

.about p {
  font-size: 20px;
  max-width: 34%;
  line-height: 45px;
  text-align: center;
}
h4 {
  font-family: "Poppins", sans-serif;
  margin: 10px 5px;
  color: #073945;
}
.align {
  flex-direction: column;
  align-items: center;
}
.boxes {
  display: flex;
  margin-top: 14px;
  gap: 20px;
  max-width: 30%;
  flex-wrap: wrap;
}

.boxes .box {
  border: 3px solid #44a4c3;
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12%;
  transition: 0.3s;
}

.boxes .box:hover {
  cursor: pointer;
  box-shadow: 3px 3px 5px #006eff70;
}
.boxes .box img {
  width: 60px;
  height: 60px;
}

.icons{
  margin-top: 23px;
}

.project{
  display: flex;
  gap: 40px;
}

.project-apadam{
height: 300px;
width: 550px;
border-radius: 15px;
}   

.card{
width: 550px;
height: 300px;
border-radius: 20px;
/* border: 8px solid #abc3c8; */
border:5px solid #046074;
position: relative;
overflow: hidden;
cursor: pointer;

}

.card:hover .card-body{
bottom: 0;
}

.card .card-icon{
width: 80px;
height: 60px;
}

.card .card-body{
width: 100%;
height: 100%;
bottom: -100%;
right: 0;
position: absolute;
background: #1f3d4738;
backdrop-filter: blur(5px);
border-radius: 10px;
display: flex;
flex-direction: column;
align-items: center;
transition: 2s;
}

.card .card-title{
font-family: "Poppins", sans-serif;
text-transform: uppercase;
font-size: 50px;
font-weight: 500;
color: #fff;
 margin: 8px;

}
.card .card-sub-title{
font-size: 22px;
color: #fff;
font-weight: 300;
margin: 16px;
text-align: center;
}

.repositories-link{
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-align: center;
  min-width: 100%;
  display: inline-block;
  margin-bottom: 20px;
}

.repositories-link a {
  text-decoration: none;
  transition: 0.3s;
}
.repositories-link a:hover{
  color: #55b4b3dc;
}

footer{
  min-height: 60px;
 border-top: 3px inset #00c6c3;
 margin-top: 25px;
}

footer div{
  display: flex;
  justify-content: center;
  padding: 8px;
  gap: 50px;
}
footer div img{
  height: 40px;
}

footer div img:hover{
  height: 45px;
}


@media(max-width: 1660px){
  .container {
    padding: 28px 0px;
    margin: 0px;
 } 

  .boxes {
    max-width: 40%;
 }
}

@media(max-width: 1440px){
  .intro {
    align-items: flex-start;
 }
.about p {
  max-width: 50%;
 }
.background {
  background-size: 96% 100%;
 }

}

@media(max-width: 1024px){
  h1{
    font-size: 27px;
  }
  h1 span{
    font-size: 50px;
  }
  p{
    font-size: 19px;
  }
.about p {
  max-width: 60%;
  font-size: 19px;
 }
.boxes .box {
  flex: auto;
 }

}

@media(max-width: 768px){


}