* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  min-height: 100vh;
}

header {
  position: sticky;
  top: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  padding: 12px 12px;
  height: 5vh;
  background-color: #012936;
  border-bottom: 2px solid #00c6c3;
}

.underline-effect {
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
  font-weight: 400;
  font-size: 23px;
  color: #fff;
  margin: 8px 8px;
  transition: 0.2s;
  padding-bottom: 5px;
  position: relative;
}
.underline-effect::before {
  content: "";
  position: absolute;
  background-color: rgb(10, 241, 230);
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  transition: width 0.25s ease-out;
}
.underline-effect:hover::before {
  left: 0;
  right: auto;
  width: 100%;
}

.container {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  min-height: 40vh;
  min-width: 70%;
  padding: 28px 12px;
}

.spacing {
  justify-content: space-evenly;
  align-items: center;
}

.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.home {
  display: flex;
  flex-direction: column;
  padding: 12px 12px;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 34px;
  color: #1b263b;
  margin: 0;
}

h1 span {
  display: inline-block;
  color: #99dcf0;
  font-size: 59px;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #1b263b;
  margin: 1px 6px;
}

.action {
  margin-top: 28px;
}

.action a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 30px;
  letter-spacing: 4px;
  color: #1b263b;
  padding: 12px;
  border: 2px solid #00c6c3;
  border-radius: 12px;
  transition: 0.3s;
  min-width: 23vw;
  font-weight: 600;
}

.action a:hover {
  font-size: 40px;
}

.background {
  background-image: url(../images/blob.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 34px;
  display: block;
  color: #1b263b;
}

.about p {
  font-size: 20px;
  max-width: 40%;
  line-height: 45px;
  text-align: center;
}
h4 {
  font-family: "Poppins", sans-serif;
  margin: 10px 5px;
  color: #073945;
}
.align {
  flex-direction: column;
  align-items: center;
}
.boxes {
  display: flex;
  margin-top: 14px;
  gap: 20px;
  max-width: 31%;
  flex-wrap: wrap;
}

.box {
  border: 3px solid #44a4c3;
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25% 10%;
  transition: 0.3s;
}

.box:hover {
  cursor: pointer;
  box-shadow: 3px 3px 5px #006eff70;
}
.box img {
  width: 60px;
  height: 60px;
}

.icons{
  margin-top: 23px;
}

.project-apadam{
height: 300px;
width: 550px;
border-radius: 15px;
}   
.card{
width: 550px;
height: 300px;
border-radius: 20px;
border: 8px solid #abc3c8;
position: relative;
overflow: hidden;
}

.card:hover .card-body{
bottom: 0;
}

.card-icon{
width: 80px;
height: 60px;
}

.card-body{
width: 100%;
height: 100%;
bottom: -100%;
right: 0;
position: absolute;
background: #1f3d4738;
backdrop-filter: blur(5px);
border-radius: 10px;
display: flex;
flex-direction: column;
align-items: center;
transition: 2s;
}

.card-title{
font-family: "Poppins", sans-serif;
text-transform: uppercase;
font-size: 50px;
font-weight: 500;
color: #fff;
 margin: 8px;

}
.card-sub-title{
font-size: 22px;
color: #fff;
font-weight: 300;
margin: 16px;
text-align: center;
}

